<div class="font-semibold font-title">
    Eltern Dashboard
</div>

<div class="font-semibold font-title2">Performance Übersicht</div>
<div>
    @Html.Raw(@Model.Charts[0])
</div>

<div class="font-semibold font-title2">Aktuelle Noten</div>
<div>
    @Html.Raw(@Model.Charts[1])
</div>

<div class="font-semibold font-title2">Kommende Prüfungen</div>
<div>
    @Html.Raw(@Model.Charts[2])
</div>
